<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft bg-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Bienvenue de retour !</h5>
                    <p>Connectez-vous pour continuer sur CulTechConnect.</p>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                        <img src="assets/images/Cultive.png" alt="" class="rounded-circle" height="100" width="100">
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
  
                  <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="email"
                      [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
                    <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">email est obligatoire</div>
                      <div *ngIf="f.email.errors.email">email non valide</div>
                    </div>
                 </div>
  
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                      <input
                        type="{{ showPassword ? 'text' : 'password' }}"
                        formControlName="password"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"
                        id="password"
                        placeholder="Mot de passe"
                      >
                      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </button>

                      <div class="invalid-feedback" *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                        <ng-container *ngIf="passwordControl.hasError('required')">
                          Le mot de passe est requis
                        </ng-container>
                      </div>

                    </div>
                  </div>

                  
                  <ngx-recaptcha2
                  #captchaElem
                  [siteKey]="capchaKey"
                  formControlName="recaptcha"
                  required="true" 
                  class="captcha-container"
                >
                </ngx-recaptcha2>




                <!-- <button asyncLogin *ngIf="!loggedIn" (click)="signInWithGoogle()">Sign in with Google</button> -->
<!-- 
                <button asyncLogin *ngIf="!loggedIn" (click)="signInWithFB()">Facebook</button>
                <button *ngIf="loggedIn"  (click)="signOut()">Log out</button> -->


                    <!-- <div>
                    <h4>{{ user.name  }}</h4>
                    <p>{{ user.email  }}</p>
                    <p><img [src]="user.photoUrl"></p>

                    </div> -->



  
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" id="remember-check">
                    <label class="form-check-label" for="remember-check">
                        Remember me
                    </label> -->
                </div> 
  
                  <div class="mt-3 d-grid">
                    <button (click)="onSubmit()" [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">Log In</button>
                  </div>
                  <div class="mt-4 text-center">
                    <h5 class="font-size-14 mb-3">Se connecter avec</h5>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <button asyncLogin *ngIf="!loggedIn" (click)="signInWithFB()" class="social-list-item bg-primary text-white border-primary">
                          <i class="mdi mdi-facebook"></i>
                      </button>
                      </li>
                      <!-- <li class="list-inline-item">
                        <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li> -->
                      <li class="list-inline-item">
                        <button asyncLogin *ngIf="!loggedIn" (click)="signInWithGoogle()" class="social-list-item bg-danger text-white border-danger">
                          <i class="mdi mdi-google"></i>
                      </button>
                      </li>
                    </ul>
                  </div>
                  <div class="mt-4 text-center">
                    <a routerLink="/account/reset-password" class="text-muted"><i class="mdi mdi-lock mr-1"></i>Oublié votre mot de passe ?
                    </a>
                  </div>
                </form>
              </div>
  
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>Vous n'avez pas de compte ? <a routerLink="/auth/register" class="fw-medium text-primary"> Inscrivez-vous maintenant.
              </a> </p>
            <p>© {{year}} CulTechConnect.  <i class="mdi mdi-heart text-danger"></i> by Worldwide Connectors</p>
          </div>
  
        </div>
      </div>
    </div>
  
    <!-- end container -->
  </div>
  <!-- end page -->